html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  background-color: #d05c2e;
  color: #fff;
}

img {
  width: 40px;
}

.header ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-basis: 33.333%;
  list-style-type: none;
  font-size: 1.125rem;
}

body {
  margin: 0;
}

header a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #a63f38;
  padding: .5em;
}

a:hover {
  background-color: #a63f38;
}
